.game-img-container {
  width: 900px;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-gap: 20px;
  padding: 20px;
  margin: auto;
}

.game-img {
  padding: 10px;
  width: 200px;
  margin: auto;
  border: 3px solid #bd0000;
  background-color: #fff;
  box-shadow: 0 0 15px #fff;
}